<!-- Typography -->

<!-- Typography basically deals with the appearance and style of text on the web page -->
<div class="mat-display-4">display 4</div>
<div class="mat-display-3">display 3</div>
<div class="mat-display-2">display 2</div>
<div class="mat-display-1">display 1</div>

<div class="mat-headline">h1</div>
<div class="mat-title">h2</div>
<div class="mat-subheading-2">h3</div>
<div class="mat-subheading-1">h4</div>

<!-- We can use this instead -->

<div class="mat-typography">
  <h1>h1</h1>
  <h2>h2</h2>
  <h3>h3</h3>
  <h4>h4</h4>
</div>

<div class="mat-body-1">Body text</div>
<div class="mat-body-2">Body text bold</div>
<div class="mat-caption">caption text</div>

<!-- Buttons -->


<div class="mat-typography" style="text-align: center;">
  <h1>Buttons in Angular Material</h1>

  <!-- Part 1 types of buttons -->
  <button mat-button >Button One</button>
  <button mat-raised-button color="primary" disableRipple>Button Two</button>
  <button mat-flat-button >Button Three</button>
  <button mat-stroked-button>Button Four</button>

<!--  disableRipple is used to stop the after clicked animation in the button  -->



  <!-- Part 2  circular buttons-->
  <button mat-icon-button color="primary">Icon </button>
  <button mat-fab color="primary">fab</button>
  <button mat-mini-fab color="primary">fab mini Button</button>

</div>



<!-- button-toggle -->
<mat-button-toggle-group multiple [(ngModel)]="data">
  <mat-button-toggle value="bold" >Bold</mat-button-toggle>
  <mat-button-toggle value="italic">Italic</mat-button-toggle>
  <mat-button-toggle value="underline">Underline</mat-button-toggle>
</mat-button-toggle-group>

<h1>{{ data }}</h1>

<!-- Appearance=legacy make it look more light no border lines in the box  a bit larger-->
<!-- we can mark it as checked disable its ripple -->
<mat-button-toggle-group multiple [(ngModel)]="data" appearance="legacy">
  <mat-button-toggle value="bold" checked disableRipple>Bold</mat-button-toggle>
  <mat-button-toggle value="italic">Italic</mat-button-toggle>
  <mat-button-toggle value="underline">Underline</mat-button-toggle>
</mat-button-toggle-group>



<!-- Icons -->
<!-- <div style="text-align: center;"> we can change its color size  -->

  <div>
    <mat-icon [ngStyle]="{ 'color': condition ? 'red' : 'blue', 'font-size': '10em' }" (click)="condition = !condition">grade</mat-icon>
  </div>
  
  <div style="text-align: center;">
    <mat-icon style="font-size: 2.2rem;" [matBadge]="amount" matBadgeOverlap="false" matBadgeSize="large">shopping_cart</mat-icon>
  </div>


  <button mat-raised-button color="primary" (click)="amount=amount+1">+ Add item</button>


<!-- </div> -->

<div style="margin-bottom: 100px;"></div>